.case-study .count {
	font-family: 'sf ui display semibold';
	font-size: 16px;
	margin-bottom: 15px;
	margin-top: 75px;
}

.case-study .content-container.approach .heading {
	font-size: 26px;
}

.case-study .content-container.approach {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.case-study .content-container.approach .left .text {
	text-align: justify;
}

.case-study .content-container.approach .left {
	width: 95%;
	max-width: 375px;
	margin-right: 50px;
}

.case-study .content-container.approach .left .heading {
	width: 70%;
}

/* Specifc heading length for Flickr case study */

.case-study.flickr .content-container.approach .left .heading {
	max-width: 375px;
}

.case-study .content-container.approach .right span {
	width: 100%;
	max-width: 675px;
	text-align: justify;
	display: block;
}

.case-study .content-container.approach .right span .title {
	margin-bottom: 15px;
}

.case-study .content-container.approach .right .approach-img {
	width: 100%;
	margin-top: 25px;
	height: 100%;
	object-fit: contain;
	object-position: center;
}