
/* Flickr Final Approach Section */
.case-study.flickr .case-study-wrapper.flickr .heading.flickr {
	width: 90%;
	max-width: 370px;
}

.case-study.flickr .case-study-wrapper.flickr .text.solution {
	width: 95%;
	max-width: 510px;
}

/* Global CSS for Case Studies */

.case-study {
	position: relative;
	z-index: 200000;
	margin-top: 250px;
}

.case-study-wrapper {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;

	font-size: 16px;
}

.case-separator {
	width: 90%;
	max-width: 1200px;
	margin: 50px auto;
	height: 1px;
}

.case-hairline {
	width: 90%;
	max-width: 1200px;
	margin: 50px auto;
	height: 1px;
	background-color: #ccc;
}

.case-study .overview-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.case-study .overview-container .content {
	width: 45%;	
}

.case-study .overview-container .content:first-child {
	margin-left: 25px;
}

.case-study .overview-container .content:last-child {
	margin-right: 50px;
	width: 40%;
}

.case-study .heading {
	font-size: 22px;
	color: #333;
	font-family: 'SF UI display semibold';
	margin-bottom: 30px;
}

/* Heading colors for specific case studies */

.case-study .heading.ripple,
.case-study.ripple span.colored {
	color: #1CAEF2;
}

.case-study .heading.flickr,
.case-study.flickr span.colored {
	color: #0063db;
}

.case-study span.colored.bold {
	font-family: 'sf ui display medium'
}

.case-study .heading.centered {
	width: 100%;
	text-align: center;
}


.case-study .overview-container .content .text {
	font-size: 16px;
	width: 95%;
	line-height: 21px;
}

.case-study .text.solution {
	width: 95%;
	max-width: 540px;
	text-align: justify;
}

.case-study .overview-container .content .overview-team {
	width: 95%;
	margin-top: 20px;
}

.case-study .full-width {
	width: 100%;
	height: 100%;
	padding: 50px 0;
	background-color: #F7F7F7;
}

.case-study.ripple .video.content-container {
	width: 90%;
	height: 100%;
	margin: 0px auto;
	max-width: 850px;
	height: 475px;
}

/* Ripple Research Section */

.case-study.ripple .content-container.reseach {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.case-study.ripple .content-container.reseach .image {
	width: 45%;
}

.case-study.ripple .content-container.reseach .image .full-image {
	object-fit: contain;
	object-position: center;
	width: 100%;
	height: 100%;
}

.case-study.ripple .content-container.reseach .summary {
	width: 50%;
}

.case-study.ripple .content-container.reseach .summary .text {
	width: 88%;
	text-align: justify;
}

.case-study.ripple .content-container.reseach .summary .text span.blue {
	color: #1CAEF2;
	font-family: 'SF UI display semibold';
}

.case-study.ripple .content-container.reseach .summary label {
	font-family: 'SF UI display semibold';
	columns: #000;
	margin-top: 50px;
	display: block;	
}

.case-study.ripple .content-container.reseach .summary .findings {
	display: flex;
	margin-top: 15px;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
}

.case-study.ripple .content-container.reseach .summary .findings .finding .percent {
	font-size: 26px;
	margin-bottom: 5px;
	color: #1CAEF2;
	font-family: 'SF UI display medium';
}

.case-study.ripple .content-container.reseach .summary .findings .finding .text {
	text-align: left;
}


 /* Ripple Sketch Image */

.case-study.ripple .full-width.sketch {
	padding: 0px;
	background-color: transparent;
}

.case-study.ripple .full-width.sketch img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}



/* Flickr Desktop Prototype */

.case-study.flickr .case-study-wrapper .subheading {
	font-family: 'sf ui display semibold';
	color: #222;
	font-size: 22px;
}

.case-study.flickr .case-study-wrapper .subheading span.caption {
	font-family: 'sf ui display light';
}

.case-study .case-study-wrapper .prototype.desktop {
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	margin-top: 35px;
	height: 100%;
}


/* Full width images */

.case-study .case-study-wrapper.image-wrapper-transparent {
	background-color: transparent;
	margin-top: 20px;
}

.case-study .case-study-wrapper.image-wrapper-transparent img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.case-study .image-wrapper {
	background-color: #f7f7f7;
	padding: 50px 0px;
	margin: 75px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.case-study.flickr .image-wrapper.overflow {
	padding: 0px;
	height: 350px;
	overflow: visible;
	margin: 125px 0;
}

.case-study.flickr .image-wrapper.overflow img {
	overflow: visible;
	height: 450px;
	max-width: 800px;
	object-fit: contain;	
}


.case-study.flickr .image-wrapper.transparent {
	margin-top: -200px;
	margin-bottom: -50px;
	padding-bottom: 0px;
	z-index: -1;
	background-color: transparent;
}

.case-study .image-wrapper.transparent img {
	max-width: 1200px;
}

.case-study .image-wrapper img {
	width: 95%;
	max-width: 712px;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.case-study .image-wrapper.captioned {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.case-study .image-wrapper.captioned .caption {
	width: 100%;
	text-align: center;
	margin-top: 25px;
	font-size: 16px;
	opacity: .8;
}