.case-study .case-slider {
	width: 100%;
	margin-top: 75px;
}

.case-study .case-slider.wrapped.ripple {
	background: linear-gradient(45deg, #0088C6 0%,#20B8FF 100%);
	padding: 75px 0px;
}

.case-study .case-slider.wrapped.flickr {
	background: #ccc;
	margin-top: 100px;
	padding-bottom: 20px;
}

.case-study .case-slider.wrapped.flickr .slider-container {
	transform: translateY(-50px);
}

.case-study .case-slider .slider-container {
	height: 500px;
	width: 100%;
	position: relative;
}

.case-study .case-slider.wrapped .slider-container {
	max-width: 1100px;
	width: 90%;
	margin: 0 auto;
	height: auto;
}

.case-study .case-slider.wrapped .slide-overflow {
	width: 100%;
	height: 100%;
}

.case-study .case-slider .slide-overflow {
	height: 100%;
	width: 100%;
	overflow: hidden;

}

.case-study .case-slide-wrapper {
	height: 100%;
	padding: 0px;
    list-style: none;
    margin: 0px;
    white-space: nowrap;
}

.case-study .case-slider.wrapped .case-slide .slide-image {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}

.case-study .case-slider .case-slide {
	display: inline-flex;
	white-space: normal;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.case-study .case-slider .case-slide .slide-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.case-study .dot-control-container {
	display: flex;
	width: 100%;
	height: 50px;
	align-items: center;
	align-content: center;
	justify-content: center;
}

.case-study .dot-control-container .slide-dot {
	width: 15px;
	height: 15px;
	cursor: pointer;
	transition: all .2s;
	border-radius: 25px;
	margin: 0 12px;
}

.case-study .dot-control-container .slide-dot.white {
	background-color: #87CCEB;
}

.case-study .dot-control-container .slide-dot.white:hover {
	background-color: #f9f9f9;
}

.case-study .dot-control-container .slide-dot.white.active {
	background-color: #fff;
}

.case-study .dot-control-container .slide-dot.black {
	background-color: #999;	
}

.case-study .dot-control-container .slide-dot.black:hover {
	background-color: #555;	
}

.case-study .dot-control-container .slide-dot.black.active {
	background-color: #222;	
}



.case-next-slide.white,
.case-back-slide.white {
	background-image: url(../../images/arrow-highres-white.png) !important;
}

.case-study .case-slider.wrapped .slide-overflow .case-next-slide {
	right: -75px;
	top: 150px;
}

.case-study .case-slider.wrapped.flickr .slide-overflow .case-next-slide,
.case-study .case-slider.wrapped.flickr .slide-overflow .case-back-slide {
	top: calc(50% - 15px);
}

.case-study .case-slider.wrapped .slide-overflow .case-back-slide {
	left: -75px;
	top: 150px;
}

.case-study .slide-overflow .case-next-slide {
	width: 30px;
	height: 30px;
	position: absolute;
	top: calc(50% - 15px);
	right: 75px;
	opacity: .6;
	background-image: url(../../images/arrow-highres.png);
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
	transition: all .2s;
}

.case-study .slide-overflow .case-back-slide {
	width: 30px;
	height: 30px;
	position: absolute;
	top: calc(50% - 15px);
	left: 75px;
	background-image: url(../../images/arrow-highres.png);
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
	opacity: .6;
	transition: all .2s;
	transform: rotate(180deg);
}

.case-study .slide-overflow .case-next-slide:hover,
.case-study .slide-overflow .case-back-slide:hover {
	opacity: 1;
}