/* prefix with case study name for specifc styling */

/* ex: .case-study.flickr .three-cols-section */

.case-study .case-study-wrapper .subheading.three-cols {
	font-size: 16px;
	margin-bottom: 25px;
}

.case-study .case-study-wrapper .three-cols-section {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.case-study .case-study-wrapper .three-cols-section .col-1,
.case-study .case-study-wrapper .three-cols-section .col-2,
.case-study .case-study-wrapper .three-cols-section .col-3 { 
	width: 30%;	
}

.case-study .case-study-wrapper .three-cols-section .col-1 .text,
.case-study .case-study-wrapper .three-cols-section .col-2 .text,
.case-study .case-study-wrapper .three-cols-section .col-3 .text {
	font-size: 16px;
	line-height: 21px;
	text-align: justify;
}