@media (max-width: 1290px) {
    .about.main-content {
        width: calc(100% - 100px);
        top: 50px;
        left: 50px;
    }
    
    .slide.about .content.about p{
        Width: 60%;
    }
    
    .about-pic {
	    width: 260px;
	    height: 260px;
    }
    
    .slide.about .shape-container .shape.red-rect{
        width: 90px;
	    height: 90px;
	    left: -60px;
    }
    
    .slide.about .shape-container .shape.yellow-ring{
        left: 90px;
    }
    
    .slide.about .shape-container .shape.green-tri {
        transform: scale(.6,.6);
    }
    
    .slide.about .shape-container .shape.navy-circle {
	   top: -15px;
	   right: -15px;
       transform: scale(.7,.7);
    }
}

@media (max-width: 1150px) {
    
    .slide.about .about-pic {
        right: 0px;
    }

}

@media (max-width: 960px) {

    .slide.about .about-pic {
        position: relative;
        top: 90px;
        left: calc(50% - 130px);
    }

    .slide.about .content.about {
        margin: 0 auto;
        margin-top: 150px;
        margin-bottom: 50px;
        width: 85%;
    }

    .slide.about .content.about p {
        width: 100%;
        max-width: 100%;
    }

    .slide.about .content.about .about-buttons {
        justify-content: center;
        margin: 0 auto;
        margin-top: 50px;
    }
	
}


@media (max-width: 568px) {
    .about.main-content {
        width: 100%;
        top: 50px;
        left: 0;
    }
    
    .about-pic{
        margin-bottom: 30px;
    }
    
    .slide.about .content.about h1 {
        padding-top: 40px;
    }
    
    .slide.about .content.about p{
        font-size: 16.5px;
    }
}
