

#background.project-background {
		width: 120% !important;
	}

@media (min-width: 1420px) {
	.work-list .slide .content.project .right.project-image-more {
		transform: translate(22%, -60px) scale(.85,.85);
	}

	.work-list .slide .content.project .right.project-image-left {
    	transform: translate(80%, -40px) scale(1,1);
	}

	.work-list .slide .content.project .right.project-image {
    	transform: translate(23%, -60px) scale(.85,.85);
	}
}

@media (max-width: 1420px) {
	.work-list .slide .content.project .right.project-image-more {
		transform: translate(22%, -60px) scale(.65,.65);
	}

	.work-list .slide .content.project .right.project-image {
    	transform: translate(23%, -60px) scale(.85,.85);
	}

	.work-list .slide .content.project .right.project-image-left {
    	transform: translate(85%, -60px) scale(.85,.85);
	}
}

@media (min-width: 1400px) {
	.main-content .project-background {
		width: calc(100% + 200px) !important;
		transform: translate3d(-100px, -100px, 0px) !important;
	}
}

@media (max-width: 1400px) {
	header {
		width: 90%;
	}

	.main-content {
	    width: 90%;
	    left: calc(50% - 45%);
	}
}


@media (max-width: 960px) {

	.wrapper.true {
		position: relative;
		overflow-x: hidden;
	}

	.work-list .slide .content.project .right.project-image-more {
		transform: translate(0%, 80px) scale(.85,.85);
	}

	.work-list .slide .content.project .right.project-image {
    	transform: translate(0%, 80px) scale(.85,.85);
	}

	.work-list .slide .content.project .right.project-image-left {
    	transform: translate(0%, 80px) scale(.85,.85);
	}

	.work-list .content.project {
		width: 98%;
		height: 100%;
		top: 0;
		left: calc(50% - 49%);
	}

	.large-title.visible {
    	transform: translateY(-80px);
    	text-align: center;
    	font-size: 95px;

	}

	.large-title {
    	transform: translateY(0px);
    	text-align: center;
    	font-size: 95px;

	}

	.main-content {
	    min-height: 1px;
	}

	.colored-bg {
		display: none !important;
	}

	.background .background-colored-mobile.ripple {
		background-color: #1CAEF2;
	}

	.background .background-colored-mobile.flickr {
		background-color: #3A3B44;
	}

	.background .background-colored-mobile.mycourses {
		background-color: #0063db;
	}

	.background .background-colored-mobile.weekly {
		background-color: #374269;
	}

	.background .background-colored-mobile.mycosmetics {
		background-color: #F55360;
	}

	.background .background-colored-mobile.displaced {
		background-color: #4DA8CC;
	}

	.background .background-colored-mobile {
		width: 100%;
		height: 45%;
		background-color: #222;
		position: absolute;
		top: 0;
		left: 0;
		transition: width .58s cubic-bezier(.19,1,.22,1), 
			height 1.1s cubic-bezier(.19,1,.22,1), 
			transform .5s cubic-bezier(.19,1,.22,1);
		transition-delay: .2s;
	}

	.background.project-background .background-colored-mobile {
		height: 100%;
	}

	.slide .content.project {
		flex-wrap: wrap-reverse;
		justify-content: center;
		align-content: center;
		margin-top: -15px;
	}

	.work-list .slide .content.project .left {
		margin-right: 0px;
		text-align: center;
		width: 60%;
	}

	.work-list .slide .content.project .left .view.title-tag {
		border: 1.5px solid #222;
		padding: 10px 15px;
		width: 100px;
		margin: 0 auto;
		border-radius: 50px;
	}

	.work-list .slide .content.project .left .view.title-tag::after {
		display: none;
	}

	.work-list .slide .content.project .right {
		height: 60%;
		width: 90%;
	}
}


@media (max-width: 560px) {
	header .name {
		display: none;
	}
}

@media (max-width: 490px) {

	.work-list .slide .content.project .right.project-image-more {
		transform: translate(0%, 80px) scale(.85,.85);
	}

	.work-list .slide .content.project .right.project-image {
    	transform: translate(0%, 50px) scale(1.1,1.1);
	}

	.work-list .slide .content.project .right.project-image-left {
    	transform: translate(0%, 80px) scale(.95,.95);
	}

	.slide-controls.mobile-controls {
		display: flex;
	}

	header {
		width: 90%;
	}
/*
	header.fixed {
		transform: translateY(-70px) !important;
		height: 65px !important;
	}


	header.fixed .logo-container {
		
		margin-top: -13px;
	}
	*/

	header .mobile-links {
		position: fixed;
		width: 100%;
		z-index: 9999;
		height: 100%;
		background-color: #fff;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all .4s;
		transform: translateY(150%);
	}
	
	header .mobile-links.clicked {
		transform: translateY(0);	
	}

	#home {
		height: 100% !important;
		top: 0px;
		overflow: hidden;
	}

	#box-home {
		height: 100%;

	}

	.footer-home {
		display: none;
	}

	header .mobile-links .center-container {
		width: 50%;
		margin-top: -50px;
		height: 80%;
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		flex-wrap: wrap;
	}

	header .mobile-links .center-container .mobile-link {
		width: 100%;
		text-align: center;
		font-size: 24px;
		margin-bottom: 35px;
	}

	header .mobile-links .center-container .social-container.mobile {
		/*width: 100%;*/
	}

	header .header-button {
		width: 170px;
		margin-top: 25px;
		margin-bottom: 35px;
		height: 47px;
		background-color: #000;
		border-radius: 25px;
		color: #fff;
		text-align: center;
		font-family: 'SF UI Display Light';
		font-size: 18px;
		line-height: 47px;
		display: block;
		cursor: pointer;
		opacity: 1;
	}

	header ul.right li {
		display: none;
	}

	header ul.right .mobile-nav-container {
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	header .right,
	header .left .logo {
		z-index: 10000000 !important ;
	}

	header ul.right .mobile-nav {
		width: 30px;
		height: 2px;
		border-radius: 5px;
		transition: all .2s;
		background-color: #000;
	}

	header ul.right .mobile-nav::after {
		content: '';
		transition: all .2s;
		display: block;
		width: 20px;
		border-radius: 5px;
		height: 2px;
		background-color: #000;
		margin-top: 6px;
		margin-left: 10px;
	}

	header ul.right .mobile-nav.toWhite::after {
		background-color: #fff !important;
	}

	header ul.right .mobile-nav.toWhite.clicked::after {
		background-color: #000 !important;
	}

	header ul.right .mobile-nav.clicked {
		transform: rotate(45deg);
		background-color: #000 !important;
	}

	header ul.right .mobile-nav.clicked::after {
		transform: rotate(90deg) translate(-6px , 10px);
		width: 30px;
	}

	.main-content {
	    width: 100%;
	    left: 0;
	}

	.work-list .slide .content.project .left {
		width: 85%;
	}

	
	.work-list .slide .content.project .right {
		height: 50%;
		width: 85%;
		margin-bottom: 10px;
		transform: scale(1.1,1.1);
	}

	.footer,
	.footer-home {
		justify-content: center;

	}

	.footer .slide-controls,
	.footer-home .slide-controls {
		transform: scale(1.2,1.2) !important;
	}

	.footer .social-container,
	.footer-home .social-container {
		display: none;
	}

	.slide.home .content.home {
		width: 85%;
		margin-top: 25px;
	}

	.slide.home .content.home h1 {
		font-size: 24px;
	}

	.slide.home .content.home p {
		font-size: 18px;
	}

	.slide.home .content.home .view {
		display: none;
	}
}

