@keyframes scaleUp {
  from {transform: scale(.85);}
  to {transform: scale(1);}
}

.scaling {
  animation: scaleUp .7s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.project-background {
  width: calc(100% + 20px);
  height: 300px;
  transform: translate3d(-100px,-100px,0);
  transition-delay: .3s;
}

.background .colored-bg.project-colored-background {
  width: calc(100% + 20px);
  transition-delay: .3s;
  right: calc(-100% - 20px);
}

.background .colored-bg.project-colored-background-left {
  width: calc(100% + 20px);
  transition-delay: .3s;
  left: calc(-100% - 20px);
}

.work-list .slide .content.project .left .revealer.title-revealer {
  transition: all .2s  cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: scale(1,1);
}

.work-list .slide .content.project .right.project-image {
  transform: translate(-25%, -40px) scale(.85,.85);
}

.work-list .slide .content.project .right.project-image-left {
  transform: translate(25%, -40px) scale(.85,.85);
}

header .left .logo-container.arrow.showArrow {
  transform: translate(0px, 0px) !important;
  opacity: 1 !important;
  visibility: visible !important;
}

header .left .logo-container.logo.hide {
  opacity: 0;
  transform: translateY(10px);
  visibility: hidden;
}

li.slide {
  position: relative;
}

.large-title {
  font-size: 190px;
  color: #fff;
  position: absolute;
  top: 30px;
  text-align: center;
  width: 100%;
  left: 0px;
  letter-spacing: 0px;
  font-family: 'SF UI Display Bold';
  transform: translateY(150px);
  visibility: hidden;
  opacity: 0;
  
  
}

.large-title.unmount {
  transition: all .4s  cubic-bezier(0.215, 0.61, 0.355, 1) !important;
  transition-delay: 0s !important;
  transform: translateY(150px) !important;
  visibility: hidden !important;
  opacity: 0 !important;
}

.large-title.visible {
  transform: translateY(0);
  visibility: visible;
  transition: all .6s  cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-delay: .5s;
  opacity: 1;
}