header .mobile-links {
	display: none;
}

header {
	width: calc(100% - 200px);
	margin: 0 auto;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1000000;
	position: relative;
}

header .name {
	transform: translate(55px , 0);
}

header .left {
	display: flex;
	justify-content: flex-start;
	height: 100%;
	align-items: center;
}

header .left .logo-container {
	height: 40px;
	width: 40px;
	margin-right: 8px;
}

header .left .logo-container.logo {
	position: absolute;
    top: 31px;
    left: 0px;
    visibility: visible; 
	opacity: 1;
	z-index: 10;
	transform: translate(0px, 0px);
  	transition: all .2s  cubic-bezier(0.215, 0.61, 0.355, 1);
  	transition-delay: .5s;
  	cursor: pointer;
}

header .left .logo-container.arrow {
	position: absolute;
    top: 32px;
    left: 2px;
    z-index: 8;
    visibility: hidden; 
	opacity: 0;
	transform: translate(0px, 10px);
  	transition: all .2s  cubic-bezier(0.215, 0.61, 0.355, 1);
  	transition-delay: .6s;
}


#back-arrow {
	width: 80%;
	height: 80%;
	background-image: url(../images/arrow-back.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}


header .right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
	list-style: none;
}

header .right li a,
header .right li div {
	font-size: 16px;
	cursor: pointer;
	text-decoration: none;
	color: #666;
	transition: all .2s;
	padding: 2px 5px;
	margin: 0px 25px;
}

header .right li a:hover {
	color: #333;
}